body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  box-sizing: border-box;
}
h1{
    font-family:"Sacramento", cursive; 
    font-size: 5.62rem;
    color: #fff;
}



h2{
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
} 

h3 {
  font-family: "Montserrat", sans-serif;
}

/* Header section */

.header {
  background-color: #11cdd4;
  position: relative;
  padding-top: 6.25rem;
  width: 100%;
}

.pro {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 18.75%;
  top: 3.125rem;
}
.bottom-cloud {
  position: absolute;
  left: 18.75%;
  bottom: 18.75rem;
}
.mountain_box {
  position: relative;
}
/* profile section */

#profile {
  background-color: #66bfbf;
  padding: 3%;
}
.profile img{
    border-radius: 50%;
}
.hr_dot {
    border: none;
    background-color: inherit;
    border-top: 8px dotted #525858 !important;
   margin: auto;
    width: 8% !important;
  }



.all p {
  color: #40514e;
  font-weight: 600;
  line-height: 2;
}

/* Skill-Section */
#skill{
    background-color: #11cdd4;
    padding: 3%; 
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  padding: 10px;
  text-align: left;
}
.skimg1 {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.skimg2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}


/* Contact Section */
#contact{
    background-color: #11cdd4;
}

.contact-p {
  width: 50%;
  margin: 0 auto 50px;
}
.contact-me {
  padding-bottom: 100px;
}
.btn_contact {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn_contact:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.footer-link {
  text-decoration: none;
  color: #11999e;
  font-family: Montserrat;
  margin: 10px 20px;
}
a:hover {
  color: #eaf6f6;
}
.bottom-container p {
  color: #eaf6f6;
  font-size: 10px;
  margin-top: 30px;
}
@media screen and (max-width: 992px) {
  .img_mountain {
    width: 90%;
  }
  .bottom-cloud {
    position: static;
  }
  .skill-row{
      width: 80%;
      margin: 5% auto; 
  }

}
